$wrapper-background-color: rgb(142, 142, 142);
.wrapper {
  background-color: $wrapper-background-color;
  border-radius: 0.75rem;
  overflow: hidden;

  padding: 0.1rem;
  margin-bottom: 2rem;

  .title {
    padding: 0.5rem 0.5rem;
    color: rgb(255, 255, 255);
  }
}

.prettyPrintJsonWrapper {
  min-height: 360px;
  background-color: rgb(34, 39, 46);
  border-radius: 0.75rem;
}
