@use "../../layout-variable";

.header {
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.423);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
  max-width: layout-variable.$layout-max-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

$link-color: rgb(27, 73, 240);
.link {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: rgba($link-color, 0.75);
  }
}

.nav {
  > .link + .link {
    margin-left: 1rem;
  }
}
